
    footer {
        background-image: linear-gradient($background_gradient-footer);
        height: 10%;
        // position: fixed;
        bottom: 0;
            div {

                .icono {
                    width: 40px;
                    height: 40px;
              }
            }
        }