$background_gradient-section: (#fabfb777, #ffda9e73, rgba(221, 243, 221, 0.436), #aedeed7b, rgba(220, 169, 243, 0.422), rgba(236, 129, 250, 0.468));
$background_gradient-header: (#fabfb7, #fdf9c4, #ffda9e, white);
$background_gradient-footer: (white, #c5c6c8, #5bcef4);
$tamaño_de_sombra: 5px;